# .env.production.example
# 数据库配置
MYSQL_ROOT_PASSWORD=123456
MYSQL_PASSWORD=123456

# Redis配置
REDIS_PASSWORD=123456

# JWT配置
JWT_SECRET=123456

# MinIO配置
MINIO_ROOT_USER=123456
MINIO_ROOT_PASSWORD=123456